[2018-04-21 19:31] amanbha opened #1 "Build the client libraries for Any CPU"
Build the client libraries for Any CPU so that it can be used by other assemblies to build for Any CPU.

[2018-04-24 00:03] #1 closed

[2018-05-23 07:22] aL3891 opened #3 "Add full type definition for manifest types"
In the old Sdk there the various manifest types are fully defined in terms of properties so that they can be deserialized directly from the xml manifests on disk.

It would be useful to have those in this library to be able to easily set things like versions and properties programmatically as part of a CI pipeline without dealing with xml namespaces and all that.

For example, compare System.Fabri

[2018-05-23 09:04] aL3891 opened #4 "Move UploadApplicationPackageAsync to IApplicationTypeClient"
Is there a particular reason UploadApplicationPackageAsync IApplicationTypeClient is in IApplicationClient and not IApplicationTypeClient? It feels more related to application types than application instances, but perhaps that's just my gut feeling

[2018-05-23 09:19] aL3891 opened #5 "Add compression parameter to UploadApplicationPackageAsync"
According to the docs UploadApplicationPackageAsync will always compress the package as part of the upload, however, looking at the code it doesn seem like compression is actually performed as this method never seems to be called:

https://github.com/Microsoft/service-fabric-client-dotnet/blob/71655e0f90c0547f09876975d457957000f25155/src/Microsoft.ServiceFabric.Client.Http/ApplicationClient_.cs#L2

[2018-05-23 19:30] amanbha commented on #4
@aL3891  UploadApplicationPackage ties more logically with Applications. An Applications' package is uploaded and not ApplciationType's package.

[2018-05-23 19:32] amanbha commented on #5
@aL3891 You are correct, the documentation is incorrect, it currently only compresses larger files, will add compressing the whole package as new feature.

[2018-05-23 19:38] amanbha commented on #3
Thsi type represents the value returned by REST api call https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-getapplicationmanifest#responses

[2018-05-23 20:08] aL3891 commented on #3
But the Service model dll doesn't have any dependencies of its own, its just a pure net standard library that happens to be bundled with the sdk, (I'm using a decompiled version of it in my projects in fact)

Having the static types for the manifests is very useful as I mentioned and there does not seem to be any dependency reason for why they could not be added to this library, or atleast be open

[2018-05-23 20:09] aL3891 commented on #5
Are you taking contributions? i might take a look, should be a fairly small change

[2018-05-23 20:14] amanbha commented on #5
Yes @aL3891 , contributions are welcome.

[2018-05-23 20:14] aL3891 commented on #4
I'd argue that you are in fact uploading an application type version, not an application. After it's uploaded you need to provision it and then create an actual application, using this method does not result in an application being created or manipulated in any way.

It's a matter of taste i suppose, but it seems more consistent to have it on the ApplicationType or even ImageStore interface, rathe

[2018-05-23 20:17] amanbha commented on #3
Yes, there is no issue in using that, For this REST library, we don't want to add a dependency on Microsoft.ServiceFabric nuget package, but carrying the dll in this nuget package can be an option.

[2018-05-23 20:18] amanbha commented on #4
@aL3891 ImageStore makes sense for this as its uploading to image store.

[2018-05-24 07:27] PepijnGramberg opened #6 "ImageStore operations for dev clusters (FileSystem)"
All operations on the ImageStore give exceptions when using the client with a dev cluster. (also UploadApplicationPackageAsync)
`Microsoft.ServiceFabric.Common.Exceptions.ServiceFabricException: FABRIC_E_SERVICE_DOES_NOT_EXIST. Service does not exist.`

The reason is the lack of an ImageStoreService in a dev cluster. It uses the file system instead. The old fabric client api could handle this as y

[2018-05-24 11:51] PepijnGramberg opened #7 "GetServiceInfoListAsync not working on a 6.2.274 cluster"
GetServiceInfoListAsync fails on the newest version (6.2.274) of a cluster (not sure if it worked on older versions)

The reason it fails is because when parsing the serviceInfo, the response it reads the first property and expects it to be "ServiceKind" but the response it got is something like the following:

[code]

[2018-05-25 07:19] aL3891 commented on #3
I've started to spike this, but I don't have a PR yet, however one change i'd like to make is to rename ApplicationTypeManifest, in Microsoft.ServiceFabric.Common to something like TypeManifestResponse so that it doesn't collide with the xsd types. Also, what's your opinion on adding the xsd and a script to generate all the types?

[2018-05-25 14:46] amanbha commented on #3
Let's not rename the types as most of this code is autogenerated from Service fabric REST swagger specification and not from xsd.

[2018-05-25 14:52] amanbha commented on #7
It's a know issue andit will be fixed in next update of Service Fabric 6.2.* and 6.3 release

[2018-05-25 14:55] amanbha commented on #6
Yes @PepijnGramberg, the support for file system based image store will be added. I will assign this to myself, feel free to raise a PR if you get  to it before me :). Inthis first preview release support for apis exposed through Service Fabric REST apis is added.

[2018-05-31 03:46] amanbha commented on #5
PR merged

[2018-05-31 03:46] #5 closed

[2018-05-31 03:50] amanbha commented on #7
This should work with clusters with version >=6.2.183

[2018-05-31 03:51] #7 closed

[2018-06-01 08:16] aL3891 commented on #6
I anticipate i'll be able to look at this either today or beginning next week (we need it as well)
Have you started any work on this yet?

[2018-06-01 23:59] amanbha commented on #6
Thanks @aL3891. I haven't started it yet, you can start on it. We can move these Upload methods to IImageStoreClient as we were discussing in #4

[2018-06-05 21:50] aL3891 opened #13 "Add swagger code generation tool chain to this repo"
As discussed in #12, A significant portion of the client code is created via code generation from swagger, however the scripts/tools that do this code generation is not in this repo.

Please consider adding them so that the community can contribute to them as well.

[2018-06-05 21:52] aL3891 commented on #6
@PepijnGramberg I've made a reasinably finished PR for this now, feel free to take a look and see that your scenarios are covered

[2018-06-05 21:58] aL3891 opened #14 "Move methods that operate on packages to public static classes"
Currently there is a method to compress an application package, however it is internal to the library. For CI scenarios it would be useful to pre-compress packages before they're actually uploaded to a cluster.

Consider moving methods like this to a public (static?) class that can be used without connecting to a cluster.

[2018-06-05 22:08] PepijnGramberg commented on #6
@aL3891 looks good on first glance, currently not able to test it. Maybe next week

[2018-06-05 22:09] aL3891 opened #15 "Other client implementations"
Currently the client library is partially set up such that a non http version of the client could be implemented. For example there is a factory method that is not specific to http.
However that factory method is currently hard coded to use the http specific implementation.

Are there other implementations planned for the foreseeable future? If not this abstraction layer seem to only add complexit

[2018-06-07 06:47] aL3891 commented on #13
That is unfortunate..

[2018-06-07 06:49] aL3891 commented on #15
Allright, i'm no opposed to using interfaces at all, mainly I think the factory in common is a bit unnecessary, it doesn't add anything and has to use a bunch of reflection that is error prone. it seems better to just use each client directly.

Also, if other clients exist, why are they not in this repo?

[2018-06-07 13:53] amanbha commented on #15
There could some scenarios in which user doesn't need to know what client is being used, he writes one piece of code and it works depending on cluster endpoint specified, if it's http, http client is used, if it's tcp, tcp client is used. We are not there yet, that's why this layer looks extra, but it keeps it open for future.

The tcp client is part of Service fabric runtime and c# managed code f

[2018-06-07 13:56] #15 closed

[2018-06-07 19:57] jijohn14 opened #16 "Invalid ServiceFabricException error code for service does not exist"
I get error code as UNKNOWN in exception while the exception message has correct code and message "FABRIC_E_SERVICE_DOES_NOT_EXIST. Service does not exist."

![image](https://user-images.githubusercontent.com/17716005/41122993-1f8890b2-6a52-11e8-89fb-dba55b29fc3a.png)

[2018-06-07 20:00] jijohn14 commented on #13
@amanbha Do you use autorest to generate client code?

[2018-06-07 20:04] amanbha commented on #13
@jijohn14 Partially., we use autorest to get the models, and then generate custom types and custom serializer/deserializer code using the extensions in swagger spec.

[2018-06-07 20:20] amanbha commented on #16
Thanks for reporting @jijohn14 , I will take a look at it.

[2018-06-07 20:49] jijohn14 opened #18 "Logic to pick valid endpoint in endpoint list"
If cluster endpoints list has an invalid and valid endpoint, the client behavior is indeterministic because of this. Correct approach will be to walk the endpoints and pick the valid one for all calls.

https://github.com/Microsoft/service-fabric-client-dotnet/blob/d2904b847ec23ba80c934fa1f18f4637b91445e2/src/Microsoft.ServiceFabric.Client.Http/ServiceFabricHttpClient.cs#L374

[2018-06-07 21:28] jijohn14 opened #19 "ApplicationPackageDownloadUri should be Uri datatype"
https://github.com/Microsoft/service-fabric-client-dotnet/blob/6875b5c8adf6a9fc63fc6a238484108e56d5867c/src/Microsoft.ServiceFabric.Common/ExternalStoreProvisionApplicationTypeDescription.cs#L33

[2018-06-08 00:16] jijohn14 opened #21 "IServiceFabricClient.Services.CreateService throws exception"
IServiceFabricClient.Services.CreateService fails with below exception because of bug in IEquatable implementation for FabricName. PR #20 fixes this issue.

System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.ServiceFabric.Common.FabricName.op_Inequality(FabricName name1, FabricName name2)

[2018-06-08 00:19] jijohn14 opened #22 "Add tests for APIs"
Repo needs tests for client APIs to avoid bugs and validation during check-in.

[2018-06-08 18:10] amanbha commented on #18
User, needs to provide correct endpoints.

[2018-06-08 18:10] #18 closed

[2018-06-08 18:13] amanbha commented on #22
Tests will be added, ServiceFabric team (https://github.com/Microsoft/service-fabric) is currently working on transition to open source, this repo will leverage the test infra used by entire ServiceFabric team, once that's available with ServiceFarbic Open source

[2018-06-08 18:14] amanbha commented on #19
This is generated from swagger specification so will not be changed.

[2018-06-08 18:14] #19 closed

[2018-06-08 18:17] amanbha commented on #21
Merged PR#20

[2018-06-08 18:17] #21 closed

[2018-06-08 18:43] #6 closed

[2018-06-08 18:46] amanbha commented on #4
PR#12 addressed this, method moved to IImageStoreClient

[2018-06-08 18:46] #4 closed

[2018-06-08 23:15] jijohn14 commented on #18
This is not consistent with FabricClient behavior in Microsoft.ServiceFabric package which picks the correct endpoint for use.

[2018-06-11 16:49] jijohn14 opened #24 "Add multi-target build for net462 binaries"

[2018-06-11 17:03] amanbha commented on #24
@jijohn14  Could you please explain it a bit more? This is built for netstandard2.0, so any full .net framework >-= 4.6.1 should run with it.

[2018-06-12 02:54] jijohn14 commented on #24
@amanbha There are lot of issues with bindings and reference with netstandard 2.0 with our .net 6.2 solutions. I was able to make it work with .net 6.2 target framework. Will share PR.

[2018-06-12 02:59] amanbha commented on #24
@jijohn, could you please explain the issues, creating a new project in VS should just work using the shipped nuget package for .net full framework >=4.6.1

[2018-07-17 05:36] amanbha commented on #24
Closing it due to inactivity, please feel free to reopen if you have any more questions.

[2018-07-17 05:36] #24 closed

[2018-07-17 05:54] jijohn14 commented on #24
@amanbha This is being used in a .net 4.6.2 solution which has 120+ projects. When adding the service fabric .net standard library, it adds .net standard 2.0 and several other references (like system.http.net) which breaks the existing bindings. Even after upgrading to later versions of some references, our applications stopped working because missing versions or incompatible dll references.

The

[2018-07-17 06:09] amanbha commented on #24
@jijohn14 Why adding System.Net.Http will break your existing bindings? That sounds more like an issue with System.Net.Http. The whole promise of netstandard 2.0 library is that it can used both with dotnet framework >4.6.1 and dotnet core > 2.0. If you see it not working and this promise broken, could you open an issue in dotnet standard 2.0 at https://github.com/dotnet/standard

[2018-07-17 06:17] jijohn14 commented on #24
These issues are already mentioned

[2018-07-17 06:21] jijohn14 commented on #24
These issues are already mentioned in the project. The promise is not very kept cleanly. I spent a lot of time updating references and fixing different errors for this.
https://github.com/dotnet/standard/issues/481

[2018-07-24 14:50] val-janeiko opened #27 "GetServiceTypeInfoByName fails to parse response"
The following code returns `null`
[code]

`ServiceTypeDescriptionConverter.GetFromJsonProperties` throws JsonReader exception with the following message:

The JSON returned in the response is the following:
[code]

[2018-08-08 21:36] amanbha commented on #27
@val-janeiko This is a known issue with Service Fabric REST gateway, the fix will be available in the next versions of the Service Fabric runtime release.

[2018-08-08 21:36] #27 closed

[2018-08-09 18:03] #16 closed

[2018-09-17 15:30] sachinkumarc opened #38 "Intermittent security exception when uploading application packages to SF cluster"
**Describe the bug**
When using the ImageStore API (ImageStore.UploadApplicationPackageAsync) to upload application packages to SF cluster, the following exception happens intermittently after few files have been uploaded.

InnerException	{System.IO.IOException: The write operation failed, see inner exception. ---> System.Net.Http.WinHttpException: A security error occurred
   --- End of inner exc

[2018-10-03 21:15] amanbha commented on #38
@sachinkumarc This is not repro, were you rolling cluster certs at the time. As we discussed offline, you were planning to add a fix for it, please let me know if that's still the plan.

[2018-11-03 01:53] amanbha commented on #38
@sachinkumarc, I am closing this due to lack of response, please feel free to reopen if it's still an issue.

[2018-11-03 01:53] #38 closed, assigned to nobody

[2018-11-16 19:02] amanbha opened #40 "Allow Connection to cluster without providing security information if connecting from a node in the cluster"
**Is your feature request related to a problem? Please describe.**
Allow Connection to cluster without providing security information if connecting from a node in the cluster similar to how existing TCP FabricClient implementation provides.

[2018-12-22 00:06] novinc opened #51 "ChaosClient.GetChaosEventsAsync does not return entries"
**Describe the bug**
Calling ChaosClient.GetChaosEventsAsync() does not return the chaos entries of the cluster. Providing start and stop times did not work either. The resulting IPagedData<ChaosEventWrapper> has an empty ContinuationToken and the Data IEnumerable<ChaosEventWrapper>is null.

**To Reproduce**
private IServiceFabricClient client;
ServiceFabricClientBuilder builder = new ServiceFabri

[2018-12-22 04:59] amanbha commented on #51
Could you also share the returned json by making the following rest call for your scenario https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-getchaosevents

[2019-01-03 23:12] novinc commented on #51
Sorry for the delay,
So if I didn't provide the optional start and end times described in your links I get back
{"ContinuationToken":"","History":[]}

But after providing them this is what I get:
endpoint: /Tools/Chaos/Events?api-version=6.4&StartTimeUtc=131909441371218377&EndTimeUtc=131910304513993716
{"ContinuationToken":"","History":[{"ChaosEvent":{"Kind":"Started","TimeStampUtc":"2019-01-03T04

[2019-01-11 03:32] kentcb opened #53 "Arithmetic operation resulted in an overflow"
## Describe the bug
With `2.0.0-preview1`, when attempting to upload an application package using the image store, I get:
[code]

## To Reproduce
Here's a LINQPad script:
[code]

I have tried both with and without compression enabled - the result is the same.

## Expected behavior
The package should upload without error, or provide better information about why it is failing.

## Additional context

[2019-01-11 03:52] oanapl commented on #53
@kentcb , thank you for reporting, we appreciate your help here.
Adding @iyyappam , who will investigate this on our side.

[2019-01-11 05:33] kentcb opened #54 "ObjectDisposedException when uploading package using .NET Core on Linux"
## Describe the bug
When calling the `UploadApplicationPackageAsync` on Linux using .NET Core 2.1, I get:
[code]

However, this doesn't seem to reproduce 100% of the time.

## To Reproduce
This is the relevant snippet of code (from a Cake build script):
[code]

## Expected behavior
No exception should be thrown.

## Additional context

I'm attempting to automate SF deployments, and in doing so hav

[2019-01-11 06:18] iyyappam commented on #53
@kentcb, thanks for reporting the issue. Could you share the client side traces? If you are running local cluster on Windows, the traces will be created on C:\sfDevcluster\Logs\Traces. Please provide the timestamp of the issue.

[2019-01-11 06:22] iyyappam commented on #54
@kentcb, just like other thread, could you share the client side traces? If you are running the local cluster on Linux, the traces will be created on/mnt/SfDevCluster/Log. Please also provide the timestamp of the issue.

[2019-01-11 06:34] kentcb commented on #53
Dumb question, but do those traces only populate if deploying to a local cluster? I just deleted existing traces, reproduced the problem (against Azure proper) and there are no traces output in the folder. :/

[2019-01-11 18:01] iyyappam commented on #53
No, you can keep the local cluster running and deploy to the remote cluster to repro the scenario. The client side traces still will be generated. The key here is local cluster should be running (just installed is alone not sufficient).

[2019-01-11 22:32] kentcb commented on #54
Hmm, this one will be more involved for me to collect, since I don't have SF running locally on the Linux image (it's just for CI). I'll have to look into getting that up and running first.

[2019-01-12 05:06] kentcb commented on #53
Ugh, not having much luck with it. I deleted the existing traces again because I forgot to record the time I repro'd, then I repro'd again and noted the time, but it's been over six _hours_ and nothing has appeared :confused:

[2019-01-14 12:49] DanYaari opened #55 "Get ReplicaId from ReplicaInfo"
Hi,

I am trying to go over all replicas in a specific partition and remove them.
However, to remove the replicas, I need the replicaId. This information is not available in ReplicaInfo which is the result of GetReplicaInfoListAsync (As far as I have seen, the ReplicaId is given in the result of the REST API, but it is not serialized into the ReplicaInfo.
Currently, if removing all replicas from a

[2019-01-14 19:26] iyyappam commented on #53
You could try one more thing to flush the traces.

1. Make sure the local cluster is running (and repro happened).

2. Then go to Computer Management -> System Tools -> Performance -> Data Collector Sets -> Event Trace Trace Session -> Fabric Traces

3. Now stop the Fabric Traces (triggers flushing to disk) and wait for the traces to appear in C:\sfdevcluster\Log\Traces.

4. Fabric Traces should a

[2019-01-15 00:02] amanbha commented on #54
@kentcb Looking at the callstack, it seems to be an issue with System.Net.Security.SslState for Linux, could you please open issue in its repo at https://github.com/dotnet/corefx

[2019-01-15 00:06] amanbha commented on #53
@kentcb  Looks like some issue in calulating chunk size to upload on the client side, Could you share the sizes of files in your package which are greater than 25 * 1024 * 1024 bytes.

[2019-01-15 00:11] amanbha commented on #55
@DanYaari  You can cast ReplicaInfo to StatefulServiceReplicaInfo (for stateful) and access ReplicaId property OR to StatelessServiceInstanceInfo for stateless and access InstanceId property.

[2019-01-15 09:16] DanYaari commented on #55
@amanbha Thanks for the quick response.
I will do just that (started with doing it with reflection to get the non public ReplicaId property).
Is there a reason to keep the ReplicaId propery non-public though, as it is used by all of the derived classes and public there.

Thanks,
Dan

[2019-01-17 10:00] DanYaari opened #56 "Wrong chunk calculation in UploadChunkAsync"
Hi,

When trying to upload my application package files to the image store, I got the following exception:
`System.OverflowException: Arithmetic operation resulted in an overflow`

While looking at the code, I noticed a bug in `UploadChunkAsync`.
When calculating the chunk length, the calculation is as follows:
[code]

This is a bug which results in negative length and therefore the new byte array

[2019-01-17 17:36] amanbha commented on #56
Thanks @DanYaari for reporting this. We will fix it in next release, if you would like to contribute please feel free to create a PR.
This is same as https://github.com/Microsoft/service-fabric-client-dotnet/issues/53

[2019-01-17 17:58] amanbha commented on #55
@DanYaari ReplicaId property is public on the derived class, its not exposed on ReplicaInfo class., https://github.com/Microsoft/service-fabric-client-dotnet/blob/develop/src/Microsoft.ServiceFabric.Common/Generated/StatefulServiceReplicaInfo.cs#L66

Please correct me, if I am missing something here.

[2019-01-20 17:57] LucasFarley commented on #54
I facing the same problem and due that the application is closing.

Unhandled Exception:
Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'SslStream'.
at System.Net.Security.SslState.ThrowIfExceptional()
at System.Net.Security.SslState.CheckThrow(Boolean authSuccessCheck, Boolean shutdownCheck)
at System.Net.Security.SslState.CheckOldKeyDecryptedDa

[2019-01-22 17:37] amanbha commented on #54
@LucasFarley Are you seeing it only on Linux as well?
Opened https://github.com/dotnet/corefx/issues/34746

[2019-01-22 20:49] davidsh commented on #54
This is a duplicate of https://github.com/dotnet/corefx/issues/34033.  The bug is fixed in current .NET Core 3.0 daily builds.

[2019-01-28 12:56] DanYaari opened #57 "Incorrect string in SafetyCheckConverter"
Hi,
With the latest version of service fabric (6.4.622.9590), I have seen that we have property value of "WaitForInBuildReplica" instead of "WaitForInbuildReplica" as appears in SafetyCheckConverter.
As the string comparison is case sensitive, I receive "Unknown Kind." thrown.
I have reproduced this with a local service fabric cluster.

Thanks,
Dan

[2019-01-28 21:24] caminadab commented on #57
Thanks for reporting. I'll get it fixed.

[2019-01-28 21:55] amanbha commented on #54
Closing as this is an issue in ,net core and is fixed in corefx repo.

[2019-01-28 21:55] #54 closed, assigned to nobody

[2019-01-28 21:57] amanbha commented on #57
We will update the swagger specification to use correct value "WaitForInBuildReplica". Once swagger is updated, new generated client library will have the fix.

[2019-01-29 08:11] DanYaari opened #58 "Change APIs to work with TimeSpan instead of seconds/milliseconds"
Hi,

I was wondering whether it will be possible to change the APIs to work with TimeSpan and make the conversions inside the APIs, I believe it will be more inline with the Service Fabric SDK and will be more intuitive to use.
This can save possible mistakes with doing wrong conversions outside the API.

Thanks,
Dan

[2019-02-01 01:22] amanbha commented on #58
@DanYaari most of these apis are autogenerated from swagger specification so they accept what the swagger specifies including the documentation for the parameters. It needs customization in codegen but could be done, being said that I still believe that users can make possible mistakes by providing Timespan.FromDays() where it only accepted some few miliseonds.

[2019-02-01 01:23] amanbha commented on #56
Closing as Dupe of #53

[2019-02-01 01:23] #56 closed, assigned to amanbha

[2019-02-01 01:24] amanbha commented on #51
Fix would be to handle "History" also in PagedListConverter

[2019-02-01 01:27] amanbha opened #59 "Start-SFApplicationUpgrade requires both Id and Name and ApplicationParameters are required."
**Describe the bug**
Start-SFApplicationUpgrade requires both Id and Name and Parameters are required.

**Expected behavior**
It should only accept Application Id or Name and Parameters should be an optional argument.

**Additional context**
In addition to above, cmdlet should also handle parameters passed as powershell HashTable.

[2019-02-06 23:37] amanbha commented on #55
I am closing this as the question has been answered, please feel free to reopen fi you have any more questions.

[2019-02-06 23:37] #55 closed, assigned to nobody

[2019-02-28 06:24] erhuan-msft opened #63 "New-SFReplicaHealth always error out with "A required parameter is missing: ServiceKind""
**Description**

New-SFReplicaHealth and the equivalent C# client method ReportReplicaHealthAsync always exception out with message "A required parameter is missing: ServiceKind".

**To Reproduce**

[code]

**Expected behavior**

We expect this command to work and set the health state to Warning for that replica.

**Additional context**

I looked up on Service Fabric code and the REST API was actu

[2019-02-28 21:39] amanbha commented on #63
@erhuan-msft Does a direct rest call to the container succeeds, i see that as per REST spec for this api,  it expects ReplicaHealthReportServiceKind so it could be a runtime issue.
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-reportreplicahealth

[2019-02-28 22:48] erhuan-msft commented on #63
The RESTful API doc seems to be incorrect as well. Here are my tests and only the last one works (Used ServiceKind=1 in query parameter).

[code]

[code]

[code]

[2019-03-01 02:16] GitTorre opened #64 "Add support for sfpkg generation"
This is not high priority, as discussed. However, it would be great to have parity among the various client impls in this regard - deployment packaging and uploading. The file/folder structure used today here is correct. The only thing left to do is to add support for sfpkg file generation, where the code/data/config folder structure (zipped or not) + configuration files are housed in a single sfp

[2019-03-04 21:16] amanbha commented on #63
@erhuan-msft  Thanks for the update, yes, the swagger spec and api implementation are different, we will update it for next release.

[2019-03-13 04:34] dvoskuil opened #65 "JsonReaderException raised from InfrastructureClient"
**Describe the bug**
The following two InfrastructureClient APIs always fail with a Newtonsoft.Json.JsonReaderException when valid commands are passed in.
[code]

**To Reproduce**
[code]

**Expected behavior**
These commands are expected to work when valid commands are passed in.

**Additional context**

The InvokeInfrastructureCommandAsync and InvokeInfrastructureQueryAsync APIs only return strin

[2019-03-13 15:19] erhuan-msft commented on #63
Is this fixed in the just release update or will be in 6.5? https://blogs.msdn.microsoft.com/azureservicefabric/2019/03/12/azure-service-fabric-6-4-refresh-release-2/

[2019-03-13 16:35] amanbha commented on #63
@erhuan-msft it will be fixed in 6.5, sorry I should have been more clear in my previous response, by next release I meant next version release and not a refresh.

[2019-03-13 22:22] amanbha commented on #65
Fixed in 2.0.0-preview11 version of nuget package

[2019-03-13 22:22] #65 closed, assigned to nobody

[2019-03-13 22:24] amanbha commented on #53
Fixed in 2.0.0-preview11 version of nuget package

[2019-03-13 22:24] #53 closed, assigned to amanbha

[2019-03-13 22:24] amanbha commented on #51
Fixed in 2.0.0-preview11 version of nuget package

[2019-03-13 22:24] #51 closed, assigned to amanbha

[2019-03-21 18:11] amanbha commented on #59
Module with the fix is published (version =1.0.3-preview2)

[2019-03-21 18:11] #59 closed, assigned to amanbha

[2019-04-10 16:14] amanbha commented on #57
This has been fixed and fix is available in nuget package >=2.0.0-preview13

[2019-04-10 16:14] #57 closed, assigned to caminadab, amanbha

[2019-04-11 08:29] MedAnd commented on #64
I'm using the following to upload and compress:

`await sfClient.ImageStore.UploadApplicationPackageAsync(appPackageDirectoryPath,                   compressPackage: true);`

but when I look into C:\SfDevCluster\Data\ImageStoreShare I see the content of the appPackageDirectoryPath however nothing is compressed... should it be?

[2019-06-06 20:25] wasker opened #71 "Unhelpful error when New-SFMeshResourceDeployment fails"
**Describe the bug**

I'm trying to troubleshoot ASF Mesh project in VS. When powershell command is executed and something is wrong, the error message is:

**To Reproduce**

**Expected behavior**

If something is wrong with my settings, I expect a helpful error message that explains what is going on.

**Additional context**
Add any other context about the problem here.

[2019-06-06 20:37] wasker commented on #71
The root cause of the problem: mismatch between parameter names used in `[parameters('Blah_cpu')]` and the ones declared in parameters.yaml.

The error message didn't help me at all.

[2019-06-12 14:50] TheReaLee commented on #63
What is the status of this? As I also have encountered this issue.

[2019-06-16 23:31] johncrim opened #72 "Connect-SFCluster -AzureActiveDirectory fails with Could not load file or assembly Microsoft.IdentityModel.Clients.ActiveDirectory"
**Describe the bug**
Assembly loading error when using `Connect-SFCluster` on Powershell Core:

[code]

Fails with:
[code]

I'm pretty sure this isn't an environment-specific issue. I have uninstalled and reinstalled the Microsoft.ServiceFabric.Powershell.Http module.

**Expected behavior**
Successful connection and no exception.

[2019-06-17 11:52] johncrim commented on #72
Note that this error occurs on PS Core 6.2; doesn't occur on Windows PS.

[2019-06-18 20:20] danielwgrech commented on #63
Also waiting on this.  Any update?

[2019-06-18 22:33] amanbha commented on #63
@TheReaLee  @danielwgrech  The runtime and swagger spec is fixed in 6.5 release. I will release the new client library with fixes soon.

[2019-06-19 22:09] amanbha commented on #63
The package with fix is now published https://www.nuget.org/packages/Microsoft.ServiceFabric.Client.Http/3.0.0-preview16

[2019-06-19 22:09] #63 closed, assigned to nobody

[2019-06-20 20:43] atifield commented on #63
Is 2.0.0-preview13 backward compatible with 6.4 cluster?

[2019-06-20 21:45] amanbha commented on #63
Yes, 2.0.0-preview* is for use with cluster >=6.4
3.0.0.0-preview* is for use with cluster >=6.5

[2019-06-20 22:17] atifield commented on #63
Thanks for clarification. I meant to ask about 3.0.0-preview16. By the way, earlier version is not compatible with 6.5. Had issue with 2.0.0-preview1 on 6.5 cluster.

[2019-06-21 06:34] amanbha commented on #63
@atifield what's the issue you are seeing with using 2.0.0-preview1 with 6.5 cluster. Could you please try 2.0.0.0:preview12 as it has some bug fixes over 2.0.0-preview1

[2019-06-21 14:52] atifield commented on #63
I have partial stacktrace here. I didn't pinpoint the exact call that failed but judging from failed to parse `PropertyName`. I am guessing it was either GetApplicationInfoList or GetServiceInfoList that failed on 6.5 cluster. Upgrading to 2.0.0-preview13 made the issue go away.

[code]

[2019-06-21 14:56] amanbha commented on #63
@atified, yes the issue was fixed in the update nuget pkg release.

[2019-08-23 23:20] GePerez opened #74 "Update IServiceFabricClient to implement IDisposable"
I'm creating this issue per the guidelines on [Contributing.md](https://github.com/Microsoft/service-fabric/blob/master/CONTRIBUTING.md).

As agreed over email, I will update IServiceFabricClient to implement IDisposable so that when the IServiceFabricClient object gets collected it does not leak the internal IDisposable objects like HttpClient.

[2019-08-25 22:08] AaronLS commented on #71
I'm getting this same error but can't find the cause.  When you say mismatch, there was not a 'Blah_cpu' parameter declared in YAML?  I am going through the SF Mesh tutorial and have double checked all the params, but I am new to YAML.  Made sure no tabs, and environment variables lined up.  Not sure what else I should look for.

[2019-08-25 22:11] AaronLS commented on #71
If I search solution for "parameters(" these are only results:

[code]

In the fabric mesh project, under Environments/Local/parameters.yaml these are defined:

[code]

My Web MVC project service.yaml:

[code]

My Web API service.yaml:
[code]

Does it matter that the ports don't match up with the ones in the Web MVC project's /Properties/launchSettings.json, it's not really clear to me what servic

[2019-08-26 19:03] amanbha commented on #74
Fixed https://github.com/microsoft/service-fabric-client-dotnet/pull/75

[2019-08-26 19:03] #74 closed, assigned to nobody

[2019-10-17 08:16] K-Cully opened #76 "Copy-SFApplicationPackage returns "The operation was canceled." with no indication why or docs explaining the issue"
**Describe the bug**
When calling Copy-SFApplicationPackage, the majority of the time, a message "The operation was canceled." is returned, with no other information.
Of 8 attempts calls, I've seen one succeed, so the command is correct.

**To Reproduce**
Generate a pkg folder 205 MB in size.
Connect to a secure SF Cluster using cert thumbprint identification with Connect-SFCluster
Run command:
`C

[2019-10-17 09:15] K-Cully opened #77 "Respones from cmdlets do not get piped to PowerShell output correctly"
**Describe the bug**
If a cmdlet returns an error response, this is written to the host window instead of being written to the output stream.
This means that the output cannot be assigned to variables or added to a pipeline.

**To Reproduce**
[code]

**Expected behavior**
The response of the Copy-SFApplicationPackage cmdlet is written to $result.

**Actual behavior**
The response of the Copy-SFApp

[2019-10-17 09:41] K-Cully opened #78 "Get-SFImageStoreContent throws and does not honor -ErrorAction Ignore"
**Describe the bug**
When calling Get-SFImageStoreContent, if a match is found it is returned to the caller.
If no match is found an exception is thrown, which is probably a bug in itself.
However, the exception is still thrown when -ErrorAction Ignore is passed to the cmdlet causing the calling script to exit.

**To Reproduce**
Create a script that connects to a cluster, then calls:
`$result = Ge

[2019-10-17 11:21] K-Cully commented on #77
It looks like the use of Console.WriteLine is resulting in the output to be written to a stream which cannot be read or redirected by general PS stream manipulation.

[2019-10-17 17:16] K-Cully opened #79 "Get-SFClusterUpgradeProgress : Failed to deserialize json response from server"
**Describe the bug**
When calling Get-SFClusterUpgradeProgress against a Cluster in the "Ready" state, the error below is thrown.
Service Fabric version: 6.5.664.9590

[code]

**To Reproduce**
Connect to a secure cluster.
Run Get-SFClusterUpgradeProgress

**Expected behavior**
A result is returned to the caller.

[2019-11-01 04:08] JackyChiou opened #80 "Services.UpdateServiceAsync can't change instance count."
**Describe the bug**

await client.Services.UpdateServiceAsync("ServiceFabricApp1~Stateless1", new StatelessServiceUpdateDescription(instanceCount: 5, defaultMoveCost: Microsoft.ServiceFabric.Common.MoveCost.Zero));

after the API returned succeed but nothing changed for the service in cluster explorer.

Do the same operation in PowerShell, the InstanceCount would be changed.
Update-ServiceFabricS

[2019-11-01 04:51] amanbha commented on #80
This is a known issue when flags are not provided.

Could you please provide a valid value for flag:

Flags is an integer indicating which properties actually need to be updated, each bit corresponds to one property.

For example, if you want to update DefaultMoveCost, you should set the flags to value 512.

For more info about Flags, you can check this link: https://docs.microsoft.com/en-us/rest/

[2019-11-01 11:11] JackyChiou commented on #80
Thank you for your help. I verified that in my environment. Thank you. Jacky

從我的iPhone傳送

Aman Bhardwaj <notifications@github.com> 於 2019年11月1日 下午12:51 寫道：

﻿

This is a known issue when flags are not provided.

Could you please provide a valid value for flag:

Flags is an integer indicating which properties actually need to be updated, each bit corresponds to one property.

For example, if you w

[2019-11-01 14:15] #80 closed, assigned to nobody

[2019-11-01 14:15] JackyChiou commented on #80
Resolved.

[2019-12-28 11:02] hbuckle commented on #79
I believe this is a problem with the API - the json response from `GetUpgradeProgress` is below and the `ApplicationHealthPolicyMap` property is wrong, according to the [docs](https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-model-clusterupgradedescriptionobject#applicationhealthpolicymap) it should be an array not an object

[code]

Full exception

[code]

[2020-02-27 03:15] sarahdonofrio opened #84 "Unable to use ImageStore Client in .NET API: throws with service not found"
I have a .NET API that is connecting to service fabric, I can do all the following:
            var content = await fabricClient.Cluster.GetImageStoreConnectionStringAsync();
            var list = await fabricClient.ApplicationTypes.GetApplicationTypeInfoListAsync();
            var applications =  await fabricClient.Applications.GetApplicationInfoAsync("addc/QueryServiceWatchdogApp");
BUT If I t

[2020-02-27 03:43] amanbha commented on #84
@sarahdonofrio Could you please share the exact error code & exception you are getting

[2020-02-27 03:55] sarahdonofrio commented on #84
yep! This is the callstack from postman:
Microsoft.ServiceFabric.Common.Exceptions.ServiceFabricException: Service does not exist.
   at Microsoft.ServiceFabric.Client.Http.ServiceFabricHttpClient.SendAsyncHandleUnsuccessfulResponse(Func`1 requestFunc, Uri requestUri, String clientRequestId, CancellationToken cancellationToken)
   at Microsoft.ServiceFabric.Client.Http.ServiceFabricHttpClient.Send

[2020-02-27 03:56] sarahdonofrio commented on #84
@amanbha  that line (43) is simply:
  var foldersize = await fabricClient.ImageStore.GetImageStoreRootFolderSizeAsync();

[2020-02-27 04:21] sarahdonofrio commented on #84
Ah I think this is similar to:
All operations on the ImageStore give exceptions when using the client with a dev cluster. (also UploadApplicationPackageAsync)
Microsoft.ServiceFabric.Common.Exceptions.ServiceFabricException: FABRIC_E_SERVICE_DOES_NOT_EXIST. Service does not exist.

The reason is the lack of an ImageStoreService in a dev cluster. It uses the file system instead. The old fabric clie

[2020-02-27 04:32] sarahdonofrio commented on #84
So I think maybe the actual bug is just in the usability of that connection string... if/when I figure it out I'm happy to update comments and some things in the code to make it more understandable for when to use them

[2020-02-27 21:13] sarahdonofrio commented on #84
Discussed and this is an unsupported legacy mode we are running (AzureStorage) and our use case is upgrading from AzureStorage

[2020-02-27 21:13] #84 closed, assigned to nobody

[2020-03-27 21:23] andrewtyped opened #85 "How are PowerShell help files generated for this repository?"
I see that Microsoft.ServiceFabric.Powershell.Http-Help.xml is stored in the repository, and the build depends on this file's presence. Are you able to share how this file is generated? As far as I can tell, the build isn't responsible for it, and no generation tools are referenced by the repository.

Thank you for making this module available!

[2020-04-07 17:41] amanbha commented on #85
@andrewtyped The rest api and powershell is generated usign a tool leveraging AutoRest from the swagger rest api specification for service fabric.

[2020-04-07 20:36] andrewtyped commented on #85
Thank you. Is this the tool you're referring to: https://github.com/Azure/autorest.powershell ? If so, would you accept a PR updating the docs to refer to this dependency?

[2020-04-07 21:33] amanbha commented on #85
No thats not we use exactly, the tool does use Autorest to generate the models from swagger, but then it generates customized code based on extensions specified in the swagger files, the entire client library in this repo has customized serialization/deserialization logic.

[2020-04-08 17:26] #85 closed, assigned to nobody

[2020-05-11 23:51] shmartel opened #87 ""A task was canceled." error executing Copy-SFApplicationPackage"
**Is your feature request related to a problem? Please describe.**
Yes.  When using Copy-SFApplicationPackage to copy a larger package, the cmdlet times out and cancels the copy.  The result is only a partial copy of the package to the Image Store.  So, the application can't be used. Example/repro:

A task was canceled.

We are seeing this error for our package that is ~ 51MB.  It's possible the i

[2020-05-20 00:21] amanbha commented on #87
Fixed with PR #89 PS Module Release 1.4.1-preview1 version has the fix.

[2020-05-20 00:21] #87 closed, assigned to nobody

[2020-07-23 18:00] amanbha commented on #76
This should be fixed PS Module Release 1.4.1-preview1 version has the fix., if it still repros, please feel free to reopen

[2020-07-23 18:00] #76 closed, assigned to nobody

[2020-07-23 18:01] amanbha commented on #71
Closing SF Mesh related issue

[2020-07-23 18:01] #71 closed, assigned to nobody

[2020-09-03 07:06] hbuckle commented on #79
@amanbha - any update on this? The bug I linked has been closed, but it is still not resolved

[2020-09-03 15:35] amanbha commented on #79
@hbuckle are you still able to repro with latest nuget package of client library and latest SF runtime, I will also followup reg. the swagger update\

[2021-01-21 10:15] alexis-spx opened #94 "No Idea what I need to provide as the ConfigurationApiVersion for Get-SfClusterConfiguration"
Cluseter version: 7.1.458.9590

Get-SfClusterConfiguration has a mandatory parameter ConfigurationApiVersion
I have no idea what I should be putting in here, I have tried our current Config Version, Code Version, api version.  Everything comes back with a NotSupportedException.

[code]
The best docs that I can find on this are https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-api-ge

[2021-02-05 08:05] alexis-spx commented on #94
I did work out where you can get a valid value for this in the end by using the old powershell module that is installed as part of the service fabric SDK / runtime.

[code]

Obviously this isn't a great solution as I need to use the old Ps module to get the same thing that I am trying to get with the new ps module, but I guess I can hard code this for the time being.
for me $apiVer is "05-2020"
"0

[2021-04-20 14:17] alexis-spx opened #98 "FabricException: Overall upgrade timeout must be greater than the combined health check wait and retry timeouts"
**Describe the bug**
When running an SFClusterConfigurationUpgrade with the following settings it throws an error about the overall timeout not being high enough, but it seems there is no parameter to set this overall time out.

**To Reproduce**
Start-SFClusterConfigurationUpgrade `
            -ClusterConfig (Get-Content $refreshFile | Out-String) `
            -MaxPercentUnhealthyApplications 25

[2021-07-08 03:20] agolotin opened #100 "[Bug] GetPropertyInfoListAsync is using incorrect deserializer"
Calling `Get-SFSubNameInfoList` does not work. After digging into the code I attempted to repro in powershell

[code]

Inspected the http trace via fiddler - the request was successfully going through. Finally noticed `GetSubNameInfoListAsync` is using `PropertyInfoConverter.Deserialize` for deserialization which is not correct. That serializer does not handle response from $/GetSubNames.

https:/

[2021-09-02 01:47] imhdev opened #102 "ReplicaInfo doesn't carry ReplicaId information"
How to get ReplicaId?

I'm trying to remove replica using RemoveReplicaAsync() which expects ReplicaId as one of the parameter. I'm calling GetDeployedServiceReplicaInfoListAsync()/GetReplicaInfoAsync()  to get more information on replica and the value returned i.e ReplicaInfo doesn't contain any information about ReplicaId.

[2021-10-19 14:24] imhdev commented on #102
I obtained required information from this issue
https://github.com/Microsoft/service-fabric-client-dotnet/issues/55

[2021-10-19 14:24] #102 closed, assigned to nobody

[2022-01-11 14:50] bjorn-einar-bjartnes-4ss opened #104 "Missing details in documentation on how to connect from PowerShell"
**Describe the bug**

# Maybe an alternative title could be - how to connect given that I have the Az-Context with permissions to manage the cluster?

I am trying to connect from an Azure Automation account in a similar fashion to  [Az.ServiceFabric](https://docs.microsoft.com/en-us/powershell/module/az.servicefabric/?view=azps-7.1.0), but have not been successful following the documentation. The

[2022-01-13 13:12] bjartwolf commented on #104
We figured out how to get the AAD token and get it to connect  🥳 . I do not know if this is the preferred way or something that does not or does belong in this repo, maybe we can get the correct token through Get-AzAccessToken as well, I have not yet investigated.

I think something on this topic would be nice to have in the documentation, I can add a suggestion, I leave it here at least for refer

[2022-01-17 13:26] bjartwolf commented on #104
Figured out how to get the same token through the Az commands too (when we had the Az context set), one issue is that we have to use the GUID where it wants the URL, which is a bit confusing, but the audience in the token has to be a GUID representing the app registration.
[code]

[2022-05-03 19:47] jeffj6123 opened #106 "allow passing in a list of certificates"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It should be possible to pass in a list of certificates to the http client

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise de

[2022-05-19 19:26] skyiky commented on #106
Hi Jeff what is the status of this?

[2022-06-03 06:18] PankajkJhaRepo opened #108 "StartPartitionRestartAsync throws exception on ubuntu"
I have a console app which restarts a servicefabric service . I am using Microsoft.ServiceFabric.Client.IServiceFabricClient to restart any service fabric service. This console app works fine when published as win-x64 to restart servicefabric services deployed on windows  but the same application throws exception and does not restart service fabric application when published as linux-x64 on ubuntu

[2022-09-01 18:13] microsoft-github-policy-service[bot] opened #115 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-28 20:37] #115 closed, assigned to nobody